<div class="container">
  <div class="text-center mt-4"><%= image_tag('chopchop.png', width: '150', height: '50', alt: 'Chop Chop') %></div>
  <h1 class="text-center mt-3 mb-4">Ping Pong Tracker</h1>

  <form action="" class="pb-3">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="input-group my-2">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" placeholder="Winner">
          </div>
          <div class="input-group my-2">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" placeholder="Winner">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group my-2">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" placeholder="Loser">
          </div>
          <div class="input-group my-2">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" placeholder="Loser">
          </div>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col-lg text-center">
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <div class="defeated">defeated</div>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
    </div>
    <div class="col text-center match-date"><p class="text-muted font-italic mt-3">9th August 2017</p></div>
  </div>
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col-lg text-center">
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <div class="defeated">defeated</div>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
    </div>
    <div class="col text-center match-date"><p class="text-muted font-italic mt-3">9th August 2017</p></div>
  </div>
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col-lg text-center">
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <div class="defeated">defeated</div>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
      <%= image_tag('defaultAvatar.png', width: '48', height: '48', class: 'rounded-circle') %>
    </div>
    <div class="col text-center match-date"><p class="text-muted font-italic mt-3">9th August 2017</p></div>
  </div>
</div>